@{
    ViewData["Title"] = "Home Page";
}

<div class="container-barra-progress">
    <div class="barra-progress-vazia">
        <div class="barra-progress">

        </div>
    </div>
    <div class="porcentagem-barra-progress">

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/barra.js"></script>
<link href="~/css/barra.css" rel="stylesheet" />