.container-barra-progress{
    width: 500px;   
    border-radius: 7px;
    display: flex;
    justify-content: center;
    justify-items: center;
    box-shadow:  0 10px 16px 0 #808080;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position:absolute;
    
}

.barra-progress-vazia {
    width: 78%;
    height: 9px;
    margin: auto;
    background: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.barra-progress {
   border-radius: 10px;
    height: 8px;
    background: #e71d36;
    transition: width 0.5s;
}

.porcentagem-barra-progress {
    margin-left: auto;
    width: 90px;
    height: 90px;
    background: #ffb703 ;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-family: cursive;
}